.container-top{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 40px;
    width: 100%;
}
.score {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.score h1{
    font-size: 4rem;
    line-height: 4rem;
}
.selectedCont{
    display: flex;
    flex-direction: column;
    align-items: end;
    gap: 10px;
}
.selectedCont p:nth-child(1){
    color: red;
}
.container-game{
    height: 100dvh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}
.dice{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.dice img{
    cursor: pointer;
}
