.container{
    padding: 10px;
    display: flex;
    max-width: 1280px;
    margin: 0 auto;
    flex-direction: row !important;
    justify-content: center;
    align-items: center;
    gap: 20px;
    height: 100dvh;
}
.left{
    width: 50%;
}
.right{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.right h1{
    font-size: 4rem;
}
.right button{
    padding: 20px 40px;
    font-size: 1.2rem;
    font-weight: 700;
    background: black;
    color: white    ;
    border-radius: 12px;
    border: none;
    cursor: pointer;
}